@font-face {
    font-family: 'abelregular';
    src: url('../fonts/abel-regular-webfont.woff2') format('woff2'),
         url('../fonts/abel-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'pinyon_scriptregular';
    src: url('../fonts/pinyonscript-regular-webfont.woff2') format('woff2'),
         url('../fonts/pinyonscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black;
    font-family: 'abelregular';
    color: #fff;
}

#wrapper{
    margin:0 auto;
    width: 850px;
}

#header{
    background: url('../images/burger.jpg') no-repeat center/cover;
    padding: 200px 0;
}

#content{
    background-color: red;
    position: relative;
    background-image: url('../images/footer-food.png');
    background-repeat: no-repeat;
    background-position: 720px 400px;
    background-size: 200px 200px;
}

.section-padding{
    padding:40px 10px;
}

#logoCircle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: red;
    position: absolute;
    left: 45%;
    top: -50px;
    padding: 7px;
}

#logoCircle img{
    width: 100%;
    height: auto;
}


.menu-heading{
    background: url('../images/heading-bg.png') no-repeat center/450px 120px;
    padding: 10px 10px;
    margin: 20px 0;
}

.menu-heading h2{
    text-align: center;
    color: #000;
    font-family: 'pinyon_scriptregular';
    font-size: 35px;
}

#tableMenu{
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}

#tableMenu tr{
    height: 45px;
}

#tableMenu td:last-child{
    font-style: italic;
}

#order{
    background: url('../images/food-plate2.jpg') no-repeat center/cover;
}

#order h2{
    text-align: center;
}

.overlay{
    background: rgba(0, 0, 0, 0.8);
}

.form-group{
    margin-bottom: 20px;
}

.form-control{
    width: 100%;
    height: 45px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 15px;
}

textarea.form-control{
    height: 250px;
}

.btn{
    background: yellow;
    color: #000;
    display: block;
    width: 100%;
    padding: 15px;
    border-style: none;
    border-radius: 10px;
}